body {
  margin: 0;
}
.buttonbtn {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: rgb(187, 184, 184);
  padding: 4px;
}
ul.header {
  margin: 0;
}
ul.header li {
  padding: 2px;
}
.liheader {
  padding: 0 2px;
  font-size: 16px;
  cursor: pointer;
}
.optionHeader {
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}
footer {
  margin: 2px 0;
  padding: 2px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.container {
  padding: 0 10%;
}
